html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,hr {margin:0; padding:0;}
html,body{height:100%;width:100%;overflow:hidden; font-family:Georgia, "Times New Roman", Times, serif; color:#fff;}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th {font-weight:normal; font-style:normal; font-family:Arial, Helvetica, sans-serif; color:#fff;}
ul,ol {list-style:none;}
fieldset,img,hr {border:none; outline:none;}
caption,th {text-align:left;}
table {border-collapse:collapse; border-spacing:0;}
td {vertical-align:top;}

.tundra .dijitSplitContainer-dijitContentPane, .tundra .dijitBorderContainer-dijitContentPane, .tundra .dijitBorderContainer, .tundra .dijitSplitterV, .tundra .dijitGutterV, .tundra .dijitSplitContainer-child, .tundra .dijitBorderContainer-child{
	background:none;
	padding:0;
	border:none;
}

a{
	color:#000;
}

h1{
	font-size:1.4em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#mainWindow{
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
}

#banner{
	height:150px;
	width:100%;
	background-color:#444;
}

#headerArea{
	height:115px;
	padding:20px 25px 0px 25px;
}

#title{
	padding-bottom:10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
}

#subtitle{
	color:#fff;
    overflow: hidden;
}

#logoArea{
	width:250px !important;
    overflow:hidden;
}

#social,#logo{
	float:right;
}

#social{
	padding-bottom:20px;
}

#smLink{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:0.82em;
	text-decoration:none;
	outline:none;
}

#smLink:hover{
	text-decoration:underline;
}

#tabArea{
    height:40px;
    overflow:hidden;
    background-color:#9dbf72;
}

.tab{
	background:#828282;
	height:40px;
	float:left;
	white-space:nowrap;
	cursor:pointer;
}

#tab1{
	background-color:#f4613f;
}

#tab2{
	background-color:#e48f25;
}

#tab3{
	background-color:#5aa2b8;
}

#tab4{
	background-color:#9dbf72;
}

.tabText{
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-overflow: ellipsis;
    -o-text-overflow:ellipsis;
	overflow:hidden;
	padding:0px 5px 0px 7px;
    font-weight:bold;
}

.tabTextBig{
    font-size:35px;
    opacity:0.7;
    filter: alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

#leftPane {
    width:450px;
	height:100%;
	font-size:0.9em;
    overflow:hidden;
}

#contentSlider{
    position:absolute;
    height:100%;
    width:auto;
}

.contentSlide{
    height:100%;
    width:450px;
    float:left;
}


.introSlide{
    background-color:#dadada;
}

.summerSlide{
    background-color:#fcd0c5;
}

.fallSlide{
    background-color:#f7debe;
}

.winterSlide{
    background-color:#cee3ea;
}

.springSlide{
    background-color:#e2ecd5;
}

.photoCredit{
    background:#000;
    padding:15px;
    color#fff;
    font-size:10px;
}

.fader{
    background:#000;
    height:310px;
    width:100%;
}

.photoCaption{
    background:#000;
    padding:15px;
    color#fff;
    font-size:12px;
    font-style:italic;
}

.textContent{
    padding:15px 25px 15px 25px;
    color:#000;
}

#mapPane{
    background-color:#90b5df;
}

#shadowDiv{
    position:absolute;
    height:100%;
    left:-10px;
    width:10px;
    -moz-box-shadow: 5px 0px 20px 5px #666;
    -webkit-box-shadow: 5px 0px 20px 5px #666;
    box-shadow: 5px 0px 20px 5px #666;
    filter: progid: DXImageTransform.Microsoft.Shadow(strength = 5, direction = 90, color = '#666');
    -ms-filter: "progid: DXImageTransform.Microsoft.Shadow(strength = 5, Direction = 90, Color = '#666')";
    z-index:20;
}

#mapBlind{
	background-color:#fff;
	position:relative;
	height:100%;
	width:100%;
	z-index:1000;
}

#loadingCon{
	position:absolute;
	z-index:99;
	width:100%;
    top:40%;
	text-align:center;
}

#loadingDialog{
	margin:auto;
	background-color:#dadada;
	width:300px
}

#loadingHeader{
	background-color:#444;
	color:#fff;
	padding-top:10px;
	padding-bottom:10px;
	width:300px;
}

#loading{
	padding-top:10px;
}

#loadingImg{
	margin-top:5px;
	padding-bottom:10px;
}

g,v{
	cursor:pointer;
}

.dijitRuleMark{
	border: 1px solid #848484;
}

.tundra .dijitSliderImageHandleH{
	z-index:10;
}

.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton{
	display:none;
}

#zoomImg{
    position:absolute;
    z-index:1000;
}

.zoomTo{
    display:none;
}

.esriPopup .titleButton.maximize{
    display:none;
}